
{%extends "test_template.html" %}


{%block main %}
<script src='{{ url_for("static", filename="js/sigma.min.js") }}'></script>
<script src='{{ url_for("static", filename="js/sigma.layout.forceAtlas2.min.js") }}'></script>
<script src='{{ url_for("static", filename="js/sigma.parsers.json.min.js") }}'></script>
<script src='{{ url_for("static", filename="js/sigma.plugins.dragNodes.js") }}'></script>
<script src='{{ url_for("static", filename="js/renderers/sigma.renderers.svg.js") }}'></script>
<script src='{{ url_for("static", filename="js/renderers/sigma.canvas.edges.labels.def.js") }}'></script>
<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>

<style>
    #graph-container {
       width:100vh;
       height: 60vh;
       max-height: 60%;
       margin: auto;
    }
    #container {
      width: 100%;
      height: auto;
      margin: auto;
    }
   </style>
<div id="container">
<div id="graph-container"></div>
</div>

<script>
var nodeCount = 0,
    idcount = 0,
    edgeCount = 0,
    edgeid = 0,
    s,
    maxNodes = 20,
    maxEdges = 50,
    g = {
        nodes: [],
        edges: []
    }

// Init sigma.js objektet
s = new sigma({
    graph: g,
    container: 'graph-container',
    renderers:[ {
        container: document.getElementById('graph-container'),
        type: 'canvas'
    }],
    settings: {
        doubleClickEnabled: false,
        minEdgeSize: 0.5,
        maxEdgeSize: 4,
        enableEdgeHovering: true,
        edgeHoverColor: 'edge',
        defaultEdgeHoverColor: '#000',
        edgeHoverSizeRatio: 1,
        edgeHoverExtremities: true,
    }
});


// Skapar en nodkarta från databasen varje gång hemsidan laddas
CreateGraphFromDatabase();

// ---------Testing function only---------
function test() {
    alert("s"+ s + "g" + g);
}
// ---------Testing function only---------
function update() {
    s.graph.nodes().forEach(function(n) {
        n.size = 34,
        n.color = '#000'
    });
    s.refresh();
}

// Save the graph positions of each marker in the database
function SaveGraph() {
    node_arr = s.graph.nodes()

    for(let i = 0; i < s.graph.nodes().length; i++) {
        http = new XMLHttpRequest();
        const query = {
            query: `mutation { 
	            UpdateMarker(id: "` + node_arr[i]["id"] + `", x: ` + node_arr[i]["x"] + `, y: ` + node_arr[i]["y"] + `) { 
                    id
                    x
                    y
                }
            }`
        }
        SendQuery(http, query);
    }
}


// Skicka ett graphql query till apollo
function SendQuery(http, query) {
    const port = "4000";
    const url = "http://localhost:" + port

    http.open("POST", url);
    http.setRequestHeader("Content-Type", "application/json")
    http.responseType = 'json';
    http.send(JSON.stringify(query));
}

// Skapa en sigma.js graf från databasen
function CreateGraphFromDatabase() {
    http = new XMLHttpRequest();
    const query = {
        query: `{
            Marker {
                id
                x
                y
                neighbors {
                    id
                }
            }
        }`
    }
    SendQuery(http, query)

    http.onload = function() {
        markers = http.response

        // Lägger först till alla markers i sigma.js listan
        for(let i = 0; i < markers["data"]["Marker"].length; i++) {
            g.nodes.push(s.graph.addNode({
                id: "" + markers["data"]["Marker"][i]["id"],
                label: 'Node ' + markers["data"]["Marker"][i]["id"],
                x: markers["data"]["Marker"][i]["x"],
                y: markers["data"]["Marker"][i]["y"],
                size: '8',
                color: '#666',

            }));
            idcount = idcount + 1;
            nodeCount = nodeCount + 1;
        }
        
        // Lägger till ***TVÅ*** edges för varje relation i databasen. Detta betyder att en "visuell" edge i nodkartan FAKTISKT ÄR TVÅ EDGES.
        for(let i = 0; i < markers["data"]["Marker"].length; i++) {
            if (markers["data"]["Marker"][i]["neighbors"].length > 0) {
                for(let j = 0; j < markers["data"]["Marker"][i]["neighbors"].length; j++) {
                    g.edges.push(s.graph.addEdge({
                        id: "" + edgeid,
                        source: "" + markers["data"]["Marker"][i]["id"],
                        target: "" + markers["data"]["Marker"][i]["neighbors"][j]["id"],
                        size: '8',
                        color: '#ccc',
                        hover_color: '#000'
                    }));
                    edgeid = edgeid + 1;
                    edgeCount = edgeCount + 1;
                }
            }
        }

        s.refresh();
    }
}

// Lägg till nod
function AddNode() {
    // Hämta "id räknaren" för markers från databasen så vi vet vilket id vi ska ge noden
    http = new XMLHttpRequest();
    const query = {
        query: `{ 
            Static { 
                marker_counter
            }
        }`
    }
    SendQuery(http, query);

    http.onload = function() {
        marker_counter = http.response["data"]["Static"][0]["marker_counter"];

        // Lägger till noden i sigma.js
        g.nodes.push(s.graph.addNode({
            id: "" + (marker_counter + 1),
            label: 'Node ' + (marker_counter + 1),
            x: 2.0,
            y: 2.0,
            size: '8',
            color: '#666',

        }));
        idcount = idcount + 1;
        nodeCount = nodeCount + 1;
        
        // Lägger till marker i databasen
        http = new XMLHttpRequest();
        const query2 = {
            query: `mutation { 
                CreateMarker(id: ` + (marker_counter + 1) + `, x: 2.0, y: 5.0) { 
                    id
                }
            }`
        }
        SendQuery(http, query2)

        // Ökar "id räknaren" med 1
        http = new XMLHttpRequest();
        const query3 = {
            query: `mutation { 
                UpdateStatic(id: 0, marker_counter: ` + (marker_counter + 1) + `) { 
                    id
                }
            }`
        }
        SendQuery(http, query3)

        NodeOrEdgeEvent(0);

        console.log(s.graph.edges())
        s.refresh();
    }
}

// Lägg till kant 
function AddEdge() {
    // Hämtar "id räknaren" för kanter från databasen
    http = new XMLHttpRequest();
    const query = {
        query: `{ 
            Static { 
                relation_counter
            }
        }`
    }
    SendQuery(http, query);

    http.onload = function() {
        relation_counter = http.response["data"]["Static"][0]["relation_counter"];

        // Lägg till kanten i sigma.js
        var fromNode = document.getElementById('value').value[0];
        var toNode = document.getElementById('value2').value[0];
        g.edges.push(s.graph.addEdge({
            id: "" + (relation_counter + 1),
            source: fromNode,
            target: toNode,
            size: '8',
            color: '#ccc',
            hover_color: '#000'
        }));
        edgeid = edgeid + 1;
        edgeCount = edgeCount + 1; 

        http = new XMLHttpRequest();
        const query2 = {
            query: `mutation { 
                AddMarkerNeighbors(from:{id: ` + fromNode + `}, to:{id: ` + toNode + `}) {
                    from{id}
                    to{id}
                }
            }`
        }
        SendQuery(http, query2);

        // Öka "id räknaren" med 1
        http = new XMLHttpRequest();
        const query3 = {
            query: `mutation { 
                UpdateStatic(id: 0, relation_counter: ` + (relation_counter + 1) + `) { 
                    id
                }
            }`
        }
        SendQuery(http, query3)

        NodeOrEdgeEvent(1);

        s.refresh();
    }
}

// TA bort nod
function RemoveNode() {
    var nodeid = document.getElementById('value3').value[0];
    s.graph.dropNode(nodeid);
    nodeCount = nodeCount -1;

    // Ta bort markern från databasen
    http = new XMLHttpRequest();
    const query = {
        query: `mutation { 
            DeleteMarker(id: ` + (nodeid) + `) { 
                id
            }
        }`
    }
    SendQuery(http, query)

    NodeOrEdgeEvent(2);

    s.refresh();
}

function sendID() {
    var docsss = document.getElementById('list-id').innerHTML;
}
function RemoveEdge() {
    var fromNode = document.getElementById('value4').value[0];
    var toNode = document.getElementById('value5').value[0];
    var edges = s.graph.edges();
    var target_edge;
    
    // Ta bort **DOM TVÅ KANTERNA** från sigma.js
    for(let j=0;j<edges.length;j++){
        if(edges[j]["source"]==fromNode && edges[j]["target"]==toNode || edges[j]["target"]==fromNode && edges[j]["source"]==toNode){
            target_edge = edges[j]["id"];
            s.graph.dropEdge("" + target_edge);
            edgeCount = edgeCount - 1;
        }
     }
    NodeOrEdgeEvent(3);

    // Ta bort **RELATIONEN (singular)** från databasen
    http = new XMLHttpRequest();
    const query = {
        query: `mutation{
            RemoveMarkerNeighbors(from:{id:"`+fromNode+`"}, to:{id:"`+toNode+`"}){
                from{id}
                to{id}
            }
        }`
    }
    SendQuery(http, query)
    s.refresh();
}

// Konfigurera en gateway = koppla en okonfad gateway med en marker
function ConfigureGateway() {
    http = new XMLHttpRequest();
    const port = "4000";
    const url = "http://localhost:" + port

    var gateway_uuid = document.getElementById('conf_gateway').value
    var marker_id = document.getElementById('conf_marker').value

    // Lägg till "CONNECTED_GATEWAY" relationen i databasen.
    const query1 = {
        query: `mutation {
            AddMarkerGateway(from: {id: "` + marker_id + `"}, to: {uuid: "` + gateway_uuid + `"}) {
                    from {
                        id
                    }
                    to { 
                        uuid
                    }
                }  
            }`
    }

    http.open("POST", url);
    http.setRequestHeader("Content-Type", "application/json")
    http.responseType = 'json';
    http.send(JSON.stringify(query1));
    
    // Lägg till "CONNECTED_MARKER" relationen i databasen.
    const query2 = {
        query: `mutation {
            AddGatewayMarker(from: {uuid: "` + gateway_uuid + `"}, to: {id: "` + marker_id + `"}) {
                    from {
                        uuid
                    }
                    to { 
                        id
                    }
                }  
            }`
    }

    http = new XMLHttpRequest();
    http.open("POST", url);
    http.setRequestHeader("Content-Type", "application/json")
    http.responseType = 'json';
    http.send(JSON.stringify(query2));

    // Sparar databasen
    SaveGraph();

    location.reload();
}

// Initialize the dragNodes plugin:
var dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);

dragListener.bind('startdrag', function(event) {
console.log(event);
});
dragListener.bind('drag', function(event) {
console.log(event);
});
dragListener.bind('drop', function(event) {
console.log(event);
});
dragListener.bind('dragend', function(event) {
console.log(event);
});

s.bind('clickNode', function(e) {
  console.log(e.type, e.data.node.id);
  var nodeid = e.data.node.id;
});
s.bind('overEdge outEdge clickEdge doubleClickEdge rightClickEdge', function(e) {
  console.log(e.type, e.data.edge, e.data.captor);
});
s.bind('clickStage', function(e) {
  console.log(e.type, e.data.captor);
});
s.bind('doubleClickStage rightClickStage', function(e) {
  console.log(e.type, e.data.captor);
}); 
</script>

{% endblock %}