
<!DOCTYPE html>
<html lang="en">

<head>
<style type="text/css">
  #container {
    max-width: 800px;
    height: 500px;
    margin: auto;
  }
  </style>
</head>
<body>
<div id="container"></div>
<script src='{{ url_for("static", filename="js/sigma.min.js") }}'></script>
<script src='{{ url_for("static", filename="js/sigma.parsers.json.min.js") }}'></script>


<script>
  sigma.parsers.json( '{{ url_for("static", filename="network.json") }}', {
    container: 'container',
    settings: {
      defaultNodeColor: '#ec5148'
    }
  });
</script>
</body>
</html>

